.navCart {
  cursor: pointer;
}

.navCart svg {
  color: white;
  font-size: 60px;

}

.navCart span {
  position: absolute;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  background: white;
  color: black;
  text-indent: 0rem;
  padding:0rem;
}