
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

.titulo {
    background-color: rgb(50, 54, 57);
    box-shadow: 0 0 8px rgba(0, 0, 0, .5);
    padding: 20px;
    color: white;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
}

.Sample .titulo h1 {
    color:  #66fcf1;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Nerko One', cursive;
    
}

.Sample {
    background-color: #66fcf1;
    border-radius: 1.5rem;
    align-items: center;
    margin-bottom: 10px;

}



.Sample__container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 10px 0;
    padding: 10px;
}

.Sample__container .Sample__container__content {
    display: flex;
    max-width: 100%;
    flex-basis: 420px;
    flex-direction: column;
    flex-grow: 100;
    align-items: stretch;
    
  
}