@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&family=Staatliches&display=swap');

.headnav {  
  
  background-color: #1f2833;
}

.headnav .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.headnav h1 {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;  
  font-size: 3.5rem;
  letter-spacing: 0.2rem;
}

.headnav nav ul {
  display: flex; 
}

.headnav nav ul li {
  margin: 0 2rem;
  list-style: none;
  text-decoration: none;  

}

.headnav nav ul li:first-child {
  margin-left: 0;
}

.headnav nav ul li:last-child {
  margin-right: 0;
}

.headnav nav ul a {
  color: white;
  font-size: 2rem;
  position: relative;
  text-decoration: none;  
  font-family: 'Roboto', sans-serif;
  font-family: 'Staatliches', cursive;
  letter-spacing: 0.2rem;


}

.headnav nav ul li a::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.2rem;
  background: white;
  position: absolute;
  bottom: -0.5rem;
  opacity: 0;
  transition: opacity 0.2s;
}

.headnav nav ul li a:hover::after {
  opacity: 1;
}
