@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Playfair+Display&display=swap');

.headnav {  
  background: #D31027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #EA384D, #D31027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #EA384D, #D31027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 2rem 0;
}

.headnav .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.headnav h1 {
  color: #ffffff;
  font-family: 'Alfa Slab One', cursive;

  font-size: 3.5rem;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
}

.headnav nav ul {
  display: flex;
}

.headnav nav ul li {
  margin: 0 2rem;
  list-style: none;
  text-decoration: none;  

}

.headnav nav ul li:first-child {
  margin-left: 0;
}

.headnav nav ul li:last-child {
  margin-right: 0;
}

.headnav nav ul a {
  color: white;
  font-size: 2rem;
  position: relative;
  text-decoration: none;  
  font-family: 'Alfa Slab One', cursive;
  font-family: 'Playfair Display', serif;
  letter-spacing: 0.2rem;


}

.headnav nav ul li a::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.2rem;
  background: white;
  position: absolute;
  bottom: -0.5rem;
  opacity: 0;
  transition: opacity 0.2s;
}

.headnav nav ul li a:hover::after {
  opacity: 1;
}

.logo {
  height: 10rem;
  margin-top: 1rem;
}
