@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

.propiedadesDestacadas {
  padding: 2rem 0;
}

.propiedadesDestacadas h1 {
  color: #1f2833;
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3rem;
  font-family: 'Yusei Magic', sans-serif;
  font-weight: 900;
  letter-spacing: 0.2rem;

}

.propiedadesDestacadas ul {
  display: flex;
  margin: 20px;

}

.propiedadesDestacadas ul li {
  margin: 10px;

}

::marker{
  color: transparent;
}

.cargando {
  text-align: center;
  font-size: 3rem;
  color: #0F2027;
  font-family: 'Yusei Magic', sans-serif;
  letter-spacing: 0.2rem;
}


