@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

.propiedadesDestacadas {
  padding: 4rem 0;

}

.propiedadesDestacadas h2 {
  color: #0F2027;
  text-align: center;
  margin-bottom: 3rem;
  font-size: 2rem;
  font-family: 'Nerko One', cursive;
  font-weight: 700;
  letter-spacing: 0.2rem;
  

}

.propiedadesDestacadas ul {
  display: flex;
  justify-content: space-between;


}

.propiedadesDestacadas ul li {
  width: 20%;

}

::marker{
  color: transparent;
}
.cargando {
  text-align: center;
  font-size: 3rem;
  color: #0F2027;
  font-family: 'Nerko One', cursive;
  letter-spacing: 0.2rem;
}


