.comments {
  margin-top: 3rem;
  padding: 3rem 0;
  border-top: 1px solid #0b0c10;
}

.comments h3 {
  text-align: center;
  color: #1f2833;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.comments ul {
  width: 50%;
  margin: auto;
}

.comments ul li {
  padding: 1rem;
  border-bottom: 1px solid #0b0c10;
  border-right: 1px solid #0b0c10;
  margin: 2rem 0;
}

.comments ul li .nombre {
  font-weight: 500;
  font-size: 1.8rem;
  text-transform: lowercase;
  color: #1f2833;
}

.comments ul li .nombre::first-letter {
  text-transform: uppercase;
}

.comments ul li .texto {
  font-size: 1.5rem;
  color: #1f2833;
}

.comments form {
  width: 50%;
  margin: 3rem auto 0;
  display: flex;
  flex-direction: column;
}

.comments form h4 {
  font-size: 1.4rem;
  text-align: center;
  color: #1f2833;
  margin-bottom: 2rem;
}

.comments form input,
.comments form textarea {
  padding: 0.5rem 1rem;
  margin-bottom: 2rem;
  outline: none;
  border: 1px solid #1f2833;
  resize: none;
  font-family: "Poppins", sans-serif;
}

.comments form textarea {
  padding: 1rem;
}

.comments form input[type="submit"] {
  background: #0b0c10;
  border: 1px solid #0b0c10;
  padding: 1rem 0;
  color: #c5c6c7;
  cursor: pointer;
}
