@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');


.breadcrum {
  margin: 2rem 0;
  display: flex;
}

.breadcrum li {
  text-transform: lowercase;
  font-size: 1.1rem;
  font-family: 'Yusei Magic', sans-serif;
  letter-spacing: 0.1rem;
  color: #1f2833;
  font-weight: 600;
  margin-left: 20px;
}

.breadcrum li::first-letter {
  text-transform: uppercase;
}

.breadcrum li:first-child::after {
  content: ">";
  display: inline-block;
  margin: 0 1rem;
}

.breadcrum li a {
  color: #0b0c10;
  text-decoration: underline;
  font-family: 'Yusei Magic', sans-serif;
  letter-spacing: 0.1rem;
  font-weight: 800;
}
