@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');


.productDetail {
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;
    font-family: 'Yusei Magic', sans-serif;

}

.productDetail .info .title {
    font-size: 3rem;
    color: #1f2833;
    margin-bottom: 1.5rem;
    text-align: center;


}

.info .reservation {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5rem;


}

.productDetail .info .imagenDetail {
    display: flex;
    justify-content: center ;
}

.productDetail .info .description {
    text-align: center;    
    font-size: 1.4rem;
    color: #0b0c10;
    width: 60%;
    margin: 2rem auto ;

}

.productDetail .info .price {
    font-size: 2.5rem;
    font-weight: 500;
    color: #0b0c10;
    margin-bottom: 2rem;
    margin-right: 2rem;    
    display: flex;
    justify-content: flex-end;
}

.productDetail .info .caracteristicas {
    display: flex;
    margin-top: 2rem;
    align-content: center;
    text-align: center;
    justify-content: center;
}
.productDetail .info .caracteristicas div {
    display: flex;
    margin-right: 2rem;

}
.productDetail .info h2 {
    font-size: 2rem;
    color: #1f2833;
    margin-top: 1.5rem;
    text-align: center;
}


.productDetail .info .qty {
    margin-top: 2rem;
    width: 150px;
    margin-bottom: 2rem;
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;

}

.productDetail .qty .button {
    width: 20%;
    border: none;
    padding: 0.5rem;
    outline: none;
    cursor: pointer;
    background: #0b0c10;
    border-radius: 1rem;
    color: #66fcf1;
    font-size: 1.5rem;
    align-content: center;

}

.productDetail .qty button:disabled {
    background: #ddd;
    cursor: no-drop;
}

.productDetail .qty input {
    width: 60%;
    text-align: center;
    border: none;
    padding: 0,5rem;
    text-align: center;
    font-size: 1.8rem;
    outline: none;

}
.productDetail .contQty {
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;
}

.productDetail .contBtn {
    display: flex;
    align-content: center;
    text-align: center;
    justify-content: center;
}

.productDetail .contBtn .btn {
    
    font-size: 2rem;
    color: #1f2833;
    margin-bottom: 1.5rem;
    text-align: center;
    width: 250px;
    display: block;
    border: none;
    padding: 1rem;
    outline: none;
    cursor: pointer;
    background:#0b0c10;
    border-radius: 1rem;
    color: #66fcf1;
    margin-top: 1rem;
    transition: background 0.5s;
}

.productDetail .btn:hover {
    background: #0b0c10;
}



