@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

.comoFunciona {
    opacity: 0.75;

   display: flex;
   width: 1200px;
   align-items: center;
   margin: 2rem;
   border-radius: 25px;
   border: 1px solid #1f2833 ;
   background: url(./img/fondoSteps.jpg) bottom center no-repeat;
}

.comoFunciona h1 {
    color: white;
    text-align: center;
    font-size: 3rem;
    font-family: 'Yusei Magic', sans-serif;
    letter-spacing: 0.5;
    background-color: #1f2833;
    opacity: 0.75;
    padding: 1rem;
    border-radius: 1rem;

    
}

.steps {
    margin: 2rem;
    background-color: black;
    opacity: 0.75;
    display: flex;
    width: 900px;
    height: 900px;
    justify-content: center;
}

.steps .step1 {
    background-color: aqua;
    opacity: 0.75;
    display: flex;
}

.steps .step2 {
    background-color: aqua;
    opacity: 0.75;
    display: flex;
}

.steps .step3 {
    background-color: aqua;
    opacity: 0.75;
    display: flex;
}