@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');


.itemListContainer {
  background: white;
  border-radius: 1.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: box-shadow 0.5s;
}

.itemListContainer:hover {
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
}

.itemListContainer img {
  width: 100%;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.itemListContainer div {
  padding: 1rem;
  text-align: center;

}

.itemListContainer div h2 {
  color: #0F2027;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-family: 'Nerko One', cursive;
  font-weight: 500;

}

.itemListContainer div p {
  color: #0F2027;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: 'Nerko One', cursive;

}

.precio {
  background-color: #0b0c10;
  border-top-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  height: 1.5rem;
  width: 6rem;

}

h4 {
  color: white;
  font-size: 1.6rem;
  font-weight: 400;
  font-family: 'Nerko One', cursive;
  margin: 0%;
}

a {
  color: #0F2027;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-family: 'Nerko One', cursive;
  font-weight: 500;

}

h1 {
  color:  #ffffff;
  font-size: 25px;
  position: relative;
  text-decoration: none;  
  padding-left: 30px;
  font-weight: 500;
  font-family: 'Nerko One', cursive;
}
