@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

.productCard {
  background: white;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  position: relative;
  font-family: 'Yusei Magic', sans-serif;
  width: 18rem;
}

.productCard:hover {
  box-shadow: 0 0 1rem #66fcf1;
  transition: 0.2s linear 0.2s;
  border: solid 1px #66fcf1;
}

.imgCard {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  
}

.productCard .info {
  padding: 0.5rem;
  text-align: center;
}

.productCard .info h1 {
  color: #0b0c10;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  min-height: 46px;
  font-family: 'Yusei Magic', sans-serif;

}
.productCard .detalle {
  display: grid;
  margin: 20px;
  align-items: center;
  grid-template-columns: 2fr 2fr 2fr 2fr ;
  grid-template-rows: 2fr 2fr;
  gap: 10px 10px;
  grid-template-areas:
    ". . . ."
    ". . . .";
}
.productCard .detalle p {
  color:#45a29e ;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Yusei Magic', sans-serif;

}

.productCard .detalle svg{
  color: #0b0c10 ;
}

.productCard .info a {
  display: block;
  border: none;
  outline: none;
  cursor: pointer;
  color: #1f2833;
  font-size: 1.3rem;
  text-decoration: none;
  padding: 0.5rem;

}
.productCard .info .button {
  background: #66fcf1 ;
  border-radius: 1rem;
  justify-content: flex-end;
  padding: 2rem;

}

.productCard .info .button:hover {
  color:#45a29e;
}

.productCard.list {
  display: flex;
  justify-content: space-around;
}

.productCard.list .imgCard {
  border-radius: 1rem;
  margin: 1.5rem;
}

.productCard.list .detalle {
  display: grid;
  margin: 20px;
  align-items: center;
  grid-template-columns: 2fr 2fr 2fr 2fr ;
  grid-template-rows: 2fr 2fr;
  gap: 10px 10px;
  grid-template-areas:
    ". . . ."
    ". . . .";
}

.productCard.list .titulo h1 {
  margin: 10px;
  text-align: center;
  font-size: 2rem;
  
}
