@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

.productCard {
  background: white;
  border-radius: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  height: 100%;
  position: relative;
  font-family: 'Yusei Magic', sans-serif;
}

.productCard:hover {
  box-shadow: 0 0 1rem #66fcf1;
  transition: 0.3s linear 0.2s;
  

}

.productCard img {
  width: 300px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  
}

.productCard .info {
  padding: 0.5rem;
  text-align: center;
}



.productCard .info h1 {
  color:#0b0c10 ;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  min-height: 46px;
  font-family: 'Yusei Magic', sans-serif;

}

.productCard .info p {
  color:#45a29e ;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Yusei Magic', sans-serif;

}

.productCard .info a {
  display: block;
  border: none;
  outline: none;
  cursor: pointer;
  color: #1f2833;
  font-size: 1.3rem;
  text-decoration: none;
  padding: 0.5rem;

}
.productCard .info .button {
  background: #66fcf1 ;
  border-radius: 1rem;
  display: flex;
  justify-content: center;

}

.productCard .info .button:hover {
  color:#45a29e;
}

.productCard .list {
  display: flex;
  align-items: center;
}

.productCard .list img {
  width: 100%;
  border-bottom-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.productCard .list div {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 2fr;
  flex: 1;
}

.productCard .list div h3 {
  margin: 0;
  min-height: auto;
  text-align: left;
  font-size: 2rem;
}
