@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

.productCard {
  background: #1f2833;
  border-radius: 1.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.5s;
  height: 100%;
  position: relative;
  font-family: 'Yusei Magic', sans-serif;

}

.productCard:hover {
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.25);
}

.productCard img {
  height: 180px;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.productCard div {
  padding: 0.5rem;
  text-align: center;
}

.productCard div h1 {
  color:#66fcf1 ;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  min-height: 46px;
  font-family: 'Yusei Magic', sans-serif;

}

.productCard div p {
  color:#c5c6c7 ;
  font-size: 1.5rem;
  font-weight: 600;
  font-family: 'Yusei Magic', sans-serif;

}

.productCard div a {
  display: block;
  border: none;
  outline: none;
  cursor: pointer;
  color: #1f2833;
  font-size: 1.3rem;
  transition: background 0.5s;
  text-decoration: none;
  padding: 0.5rem;

}
.productCard div .button {
  background: #66fcf1 ;
  margin-bottom: 1rem;
  border-radius: 1rem;
  margin-top: 5rem;

}

.productCard div .button:hover {
  background:#45a29e;
}

.productCard .list {
  display: flex;
  align-items: center;
}

.productCard .list img {
  width: 100%;
  border-bottom-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.productCard .list div {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 2fr;
  flex: 1;
}

.productCard .list div h3 {
  margin: 0;
  min-height: auto;
  text-align: left;
  font-size: 2rem;
}
