@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');


.estudio form {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}

.signature-pad {
    position: absolute;
    left: 0;
    top: 0;
    width:400px;
    height:200px;
}
h1 {
    font-family: 'Yusei Magic', sans-serif;
    text-align: center;
    font-size: 2rem;
    color:#1f2833;
    font-weight: 500;
    letter-spacing: 0.5;
    
}

p {
    font-family: 'Yusei Magic', sans-serif;
    text-align: center;
    font-size: 1rem;
    color:#45a29e;
    font-weight: 500;
    letter-spacing: 0.5;
}