@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');



.left-container {
    display: flex;
    justify-content: center
;}

.left-container div {
    overflow: hidden;
    text-align: center;
    width: 700px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 12px;
}


.left-container, .right-container h1 {
    font-size: 1.5rem;
    color: #1f2833;
    display: inline-block;
    font-family: 'Yusei Magic', sans-serif;
    letter-spacing: 0.1rem;
}

.left-container h2 {
    color:#1f2833;
    font-size: 1rem;
    font-family: 'Yusei Magic', sans-serif;
    letter-spacing: 0.1rem;
    margin-top: 2rem;
}

.left-container h3 {
    color: #45a29e;
    font-size: 1rem;
    font-family: 'Yusei Magic', sans-serif;
    letter-spacing: 0.1rem;
    margin-top: 2rem;
}

.publicar {
    display: flex;
}

.publicar .right-container {
    padding-top: 2rem;
    margin: 2rem 2rem;
    background-color: #c5c6c7;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.publicar .right-container div p {
    font-size: 1.5rem;
    color: #0b0c10;
    font-size: 1rem;
    font-family: 'Yusei Magic', sans-serif;
    letter-spacing: 0.1rem;
    margin-right: 2rem;
}

.publicar .right-container div div{  
    margin: 2rem 2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-evenly;

}

.publicar form div input, select {
    text-align: center;
    border: 1px solid #1f2833;
    border-radius: 4px;
    height: 38px;
    line-height: 38px;
    padding-left: 5px;
    font-family: 'Yusei Magic', sans-serif;
    margin-left: 2rem;
}

.publicar button {
    text-align: center;
    border: none;
    border-radius: 12px;
    height: 38px;
    outline: none;
    width: 150px;
}

.publicar form div input:active {
    border-color: aqua;
}