@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

.footer {
  display: flex;
  background:#1f2833;
  height: 150px;
  
}

.footer .logofoot {
  display: flex;
  margin-left: 50px;
  border-top: 15px solid #66fcf1;
  height: 70px;
  padding-top: 10px;

}
