.contact {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    align-content: space-between

}

.contact .cont {
    flex: 0 0 auto;
    margin: 4px;
    flex-wrap: wrap;
    flex-direction: row;

}

.contact .cont .h2 {
    text-align: center;
}

