@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

.top{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background-color: white;  
  height: 160px;
  padding: 1rem;
  font-size: 1.2rem;
  font-family: 'Yusei Magic', sans-serif;

}

.top p {
  color:  #1f2833;
  font-size: 15px;
  text-align: center;

}
.top p {
  
  text-decoration: none;  
  font-weight: 500;
  font-family: 'Yusei Magic', sans-serif;
}

.top .logoTop {
  display: flex;
  flex-direction: column;
}
.top .logoTop form {
  display: flex;
  justify-content: center;
}

.top .logoTop .logoblanco {
  display: flex;
  height: 70px;
}

.top .logoTop input[type=text] {
  display: flex;  
  justify-content: center;
  padding: 0.5rem;
  font-size: 17px;
  border-radius: 0.5rem;
  background-color: #66fcf1;
  border: 1px solid #ccc;
  text-align: center;
  color: #1f2833;
}

.top .logoTop button {
  font-size: 17px;
  background-color: #1f2833;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.5rem;
}
.top .logoTop button:hover {
  background: #ccc;
  color: #1f2833
}

.top .logoTop button svg {
  color: #66fcf1;
  margin: auto;
}

