@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

.top{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background-color: #45a29e;  
  height: 100px;
  padding: 1rem;
  font-size: 1.2rem;
  color:#66fcf1;
}

.top .anuncio{
  display: flex;
  color:  #ffffff;
  font-size: 25px;

}
.top p {
  
  text-decoration: none;  
  font-weight: 500;
  font-family: 'Yusei Magic', sans-serif;
}

.top .logoTop {
  display: flex;
  padding-right: 10px;
}

.top .logoTop .logoblanco {
  display: flex;
  padding-top: 1rem;
  border-top: 15px solid #66fcf1;
  height: 70px;
  margin-left: 50px;

}

