@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');

.top{
  background-color: #45a29e;  
  height: 100px;
  display: flex;

}


.top a {
  color:  #ffffff;
  font-size: 25px;
  text-decoration: none;  
  font-weight: 500;
  font-family: 'Nerko One', cursive;

}

.top .logoTop {
  display: flex;
  align-items: center;
  align-content: center;
}

.top .logoTop .logoblanco {
  display: flex;
  padding-top: 1rem;
  border-top: 15px solid #66fcf1;
  height: 70px;
  margin-left: 50px;

}

