@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

/* Variables de Header */
$header-background-color: #5614B0;
$header-font-color: #ffffff;
$header-font-size: 25px;
$header-font-family: 'Yusei Magic', sans-serif;
$header-height: 120px;
$header-padding: 1rem;

.top {
 
  background-color: $header-background-color;  
  height: $header-height;
  padding-top: $header-padding;
  font-size: 1.2rem;
  //color:#66fcf1; no se esta usando

  .anuncio{
    color:  $header-font-color;
    font-size: $header-font-size;
  }

  p {
    text-decoration: none;  
    font-weight: 500;
    font-family: $header-font-family;
  }

  .menu-left-side{

      color:white;
      
      .MuiButton-label{
          color:white;
          text-decoration: none;  
          font-weight: 500;
          font-family: $header-font-family;
      }

      svg {
          font-size: 50px;
      }
      
      .btn-ingresar {
        border: none;
      }

      .btn-publicar {
        border: none;
      }


  }


  .logoTop {

    .logoblanco {
        padding-top: 0.5rem;
        height: 90px;
      }
    
  }

  .menu-right-side{

    color:white;

    .navCart {
        //margin-top: 10px;
    }

  }

}