@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');



.formularioIngreso  {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Yusei Magic', sans-serif;
}
.formularioIngreso .ingreso {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Yusei Magic', sans-serif;
}


.formularioIngreso h1 {
    font-size: 1.5rem;
    letter-spacing: 0.5;
    text-align: center;
}
.formularioIngreso p {
    font-size: 1rem;
    letter-spacing: 0.5;
    text-align: center;
    font-weight: bold;
}

.formularioIngreso .botones {
    display: flex;
    justify-content: center;
}

.formularioIngreso .botones button {
    padding: 0.5rem;
    background-color: #1f2833;
    color: white;
    border-radius: 1rem;
    font-family: 'Yusei Magic', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.5;
}
