.overlay {  
  position: fixed;
  top: 100px;
  width: 50%;
  height: 50vh;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

#carrito:target {
  display: flex;
}

.carrito {

  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 60px;
  border-radius: 20px;
  position: relative;
}

.carrito .cerrar {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 1.5rem;
  color: aliceblue;
}

p {
  color: #90EE90;
  size: 32px;
  text-decoration: none;
}
